<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">

<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="container" ng-controller="NarrowItDownController as nItCtr">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form">
            <div class="form-group">
                <input type="text" placeholder="search term" class="form-control" ng-model="nItCtr.whatIwant">
            </div>
            <div class="form-group narrow-button">
                <button class="btn btn-primary" ng-click="nItCtr.showMe()">Narrow It Down For Me!</button>
            </div>
        </div>

        <div class="row"></div>


        <div class="row">
            <found-items found-items="nItCtr.found" on-remove="nItCtr.remove(index);">
                {{nItCtr.message}}
            </found-items>
        </div>
    </div>

</body>

</html>