<!doctype html>
<html lang="en" ng-app="LunchCheck">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="LunchCheckController">
        <h1>Lunch Checker</h1>

        <div ng-class="formClass">
            <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="menu">

        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="displayMessage()">Check If Too Much</button>
        </div>
        <div ng-class="messageClass">
            {{message}}
        </div>
        <div>
            <p class="text-info"><b>Information:</b> I do NOT consider and empty item, i.e., , , as an item towards to the count</p>
        </div>
    </div>
</body>

</html>