<!doctype html>
<html lang="en">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }
    </style>
</head>

<body ng-app="MyApp">
    <div class="container" ng-controller="MyController">
        <h1>Lunch Checker</h1>

        <div class="form-group">
            <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="menu">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="displayMessage()">Check If Too Much</button>
        </div>
        <div class="form-group message">
            {{message}}
        </div>
    </div>


    <script>
        (function() {
            'use strict';
            angular.module('MyApp', [])
                .controller('MyController', MyController);

            MyController.$inject = ['$scope'];

            function MyController($scope) {
                $scope.message = "";
                $scope.menu = "";

                $scope.displayMessage = function() {
                    var numOfDishes = CountDishes($scope.menu);
                    console.log("Number of dishes: " + numOfDishes);
                    if (numOfDishes < 1) {
                        $scope.message = "Please enter data first";
                    } else if (numOfDishes > 3) {
                        $scope.message = "Too much!";
                    } else {
                        $scope.message = "Enjoy!";
                    }
                }

                function CountDishes(string) {
                    if (string == "") return 0;
                    var dishesList = string.split(',');
                    var counter = 0;
                    for (var i = 0; i < dishesList.length; i++) {
                        if (dishesList[i].trim()) counter++;
                    }
                    return counter;
                }
            }
        }());
    </script>
</body>

</html>